
table {
    border-collapse: collapse;
    overflow-x: scroll;
  }

  th {
    border: 1px solid #cfc3c3;
    text-align: center;
    padding: 8px;
    min-width: 8.3em;
    font-size: 0.9em;
    color: #005280;
    background: rgb(255 232 183);
  }

  td {
    border: 1px solid #cfc3c3;
    text-align: right;
    padding: 8px;
    min-width: 8.3em;
    font-size: 0.9em;

  }

  .total_row{
    background-color:rgb(255 232 183 / 16%);
    font-weight: 600;
  }

  th[scope="row"], thead tr {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
  }
