<div class="row">
    <div class="col-xxl-12 col-xxxl-12">
        <mat-card class="daxa-card add-user-card mb-25 border-radius bg-white border-none d-block">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mt-0 mb-0">
                        Users
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form name="UsersForm" id="UsersForm" autocomplete="off">

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    User Name
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        User Name
                                    </mat-label>
                                    <input matInput type="email" id="username" name="username" required
                                        [(ngModel)]="UsersFormData.username">

                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    Display Name
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Display Name
                                    </mat-label>
                                    <input matInput id="display_name" name="display_name" required
                                        [(ngModel)]="UsersFormData.display_name">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    Mobile No
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Mobile No
                                    </mat-label>
                                    <input matInput id="mobileno" name="mobileno" [(ngModel)]="UsersFormData.mobileno"
                                        required>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    Password
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Password
                                    </mat-label>
                                    <input matInput id="password" name="password" [(ngModel)]="UsersFormData.password"
                                        required>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <mat-form-field class="mb-25">
                                <mat-label>Status</mat-label>
                                <mat-select [(ngModel)]="UsersFormData.status" id="status" name="status" required>
                                    <mat-option value="1">Enabled</mat-option>
                                    <mat-option value="0">Disabled</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <button (click)="save(); UsersFormSubmitted=true" [disabled]="UsersFormSubmitted "
                                mat-flat-button class="daxa">
                                Update
                            </button>
                        </div>

                    </div>

                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
