<div class="row">
    <div class="col-xxl-12 col-xxxl-12">
        <mat-card class="daxa-card add-user-card mb-25 border-radius bg-white border-none d-block">
            <mat-card-content>
                <form name="filterForm" id="filterForm" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="mb-25">
                                <mat-form-field>
                                    <mat-label>Company</mat-label>
                                    <mat-select id="username" name="username" [(ngModel)]="FilterData.cmp_id">
                                        <mat-option *ngFor="let c of companies" [value]="c.value">{{ c.name
                                            }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="mb-25">
                                <mat-form-field>
                                    <mat-label>Period</mat-label>
                                    <mat-select id="period" name="period" [(ngModel)]="FilterData.period">
                                        <mat-option value="for_period">For Period</mat-option>
                                        <mat-option value="for_date">For Date</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="mb-25">
                                <mat-form-field appearance="fill">
                                    <mat-label>From Date</mat-label>
                                    <input matInput [matDatepicker]="picker1" id="from_date" name="from_date"
                                        [(ngModel)]="FilterData.from_date">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="mb-25">
                                <mat-form-field appearance="fill">
                                    <mat-label>To Date</mat-label>
                                    <input matInput [matDatepicker]="picker2" id="to_date" name="to_date"
                                        [(ngModel)]="FilterData.to_date">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button mat-flat-button class="daxa" (click)="getData()">Filter</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<div
    *ngIf="!CuttingCostDetClicked && !ReCuttingClicked && !CuttingDownTimeClicked && !CuttingFabUtlzClicked1 && !QualityDetClicked && !QualityCostDatewiseClicked && !QualityDownTimeDatewiseClicked && !FabricCostClicked && !CuttingDownTimeDatewiseClicked && !CuttingCostDeDatewisetClicked && !SewingEffBuildingClicked && !SewingCostBuildingClicked && !SewingDhuBuildingClicked && !SewingMisPcsBuildingClicked && !HrAbsentBuildingClicked && !FinishingWipBuildingClicked && !HrUnplannedBuildingClicked && !TrimsDownTimeDatewiseClicked && !MntDownTimeDatewiseClicked && !SewingRejBuildingClicked && !QualityRftBuildingClicked && !HrMmrBuildingClicked && !HrBudgetBuildingClicked && !HrBudgetCostBuildingClicked && !IndEngCpmBuildingClicked && !ManagementKPIClicked && !FinsingCsgBuildingClicked && !DespatchWipClicked && !HrAtrBuildingClicked && !TrimsUnusedGroupClicked">



    <mat-card *ngIf="!widClicked">

        <mat-card-content [@slideInOut]>


            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="big-box bg-blue grid gap-2 grid-rows-2" (click)="CuttingKpiData('cutting_kpi')">
                        <img src="assets/dashboard_icons/scissors.png" alt="">
                        <h5 style=" color:white; position: relative; top: -10px;">CUTTING</h5>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="big-box bg-indigo grid gap-2 grid-cols-2" (click)="SewingKpiData('sewing_kpi')">
                        <img fxFlex src="assets/dashboard_icons/sewing.png" alt="">
                        <h5 style=" color:white; position: relative; top: -10px;">SEWING</h5>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="big-box bg-pink grid gap-2 grid-cols-2" (click)="QualityKpiData('quality_kpi')">
                        <img fxFlex src="assets/dashboard_icons/badge.png" alt="">
                        <h5 style=" color:white; position: relative; top: -10px;">QUALITY</h5>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="big-box bg-yellow grid gap-2 grid-cols-2" (click)="HrKpiData('hr_kpi')">
                        <img fxFlex src="assets/dashboard_icons/online-interview.png" alt="">
                        <h5 style=" color:white; position: relative; top: -10px;">HR </h5>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-4 col-xxl-3 col-sm-6">
                    <div class="big-box bg-green" (click)="IndEngKpiData('ind_eng_kpi')">
                        <img src="assets/dashboard_icons/energy.png" alt="">
                        <h5 style=" color:white; position: relative; top: -10px;">INDUSTRIAL ENGINEERING </h5>
                    </div>
                </div>

                <div class="col-lg-4 col-xxl-3 col-sm-6">
                    <div class="big-box bg-purple" (click)="FabricKpiData('fabric_kpi')">
                        <img src="assets/dashboard_icons/fiber.png" alt="">
                        <h5 style=" color:white; position: relative; top: -10px;">FABRIC</h5>
                    </div>
                </div>

                <div class="col-lg-4 col-xxl-3 col-sm-6">
                    <div class="big-box bg-orange" (click)="finsihingKpiData('finishing_kpi')">
                        <img src="assets/dashboard_icons/flag.png" alt="">
                        <h5 style=" color:white; position: relative; top: -10px;">FINISHING</h5>
                    </div>
                </div>

                <div class="col-lg-4 col-xxl-3 col-sm-6">
                    <div class="big-box bg-red" (click)="DespatchKpiData('despatch_kpi')">
                        <img src="assets/dashboard_icons/delivery.png" alt="">
                        <h5 style=" color:white; position: relative; top: -10px;">DISPATCH</h5>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-4 col-xxl-3 col-sm-6">
                    <div class="big-box bg-cyan" (click)="TrimsKpiData('trims_kpi')">
                        <img src="assets/dashboard_icons/buttons.png" alt="">
                        <h5 style=" color:white; position: relative; top: -10px;">TRIMS STORE</h5>
                    </div>
                </div>

                <div class="col-lg-4 col-xxl-3 col-sm-6">
                    <div class="big-box bg-teal" (click)="MntKpiData('mnt_kpi')">
                        <img src="assets/dashboard_icons/repair-service.png" alt="">
                        <h5 style=" color:white; position: relative; top: -10px;">MAINTENANCE</h5>
                    </div>
                </div>

                <div class="col-lg-4 col-xxl-3 col-sm-6">
                    <div class="big-box bg-sky" (click)="ManagementKpiData()">
                        <img src="assets/dashboard_icons/repair-service.png" alt="">
                        <h5 style=" color:white; position: relative; top: -10px;">MANAGEMENT</h5>
                    </div>
                </div>

                <div class="col-lg-4 col-xxl-3 col-sm-6">
                    <div style="visibility: hidden;" class="big-box bg-primary">
                        <h5> </h5>
                    </div>
                </div>
            </div>

        </mat-card-content>

    </mat-card>

</div>
